@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  display: flex;
  background: linear-gradient(#5a5a5a 0%, #191919 95%);

}
body {
  display: grid;
  grid-auto-rows: max-content;
  gap: 52px;
  align-content: center;
  min-height: 100dvh;
  width: 725px;
  margin: auto;
  padding: 18px;
  background: rgba(224, 224, 224, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(224, 224, 224, 0.3);
}
a:link,
a:visited {
  color: rgb(0, 0, 238);
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 16px 0;
  line-height: 1.25;
}
main,
footer {
  min-width: 0;
}
main > h1,
main > section:first-child h1 {
  margin: 0;
  font-size: 28px;
  word-break: break-all;
  color: #333;
}
main > h1 {
  margin: 0 0 24px 0;
}
main > section:first-child {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 0 24px 0;
}
main + footer address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 12px;
}
main + footer address > *::before {
  margin-right: 5px;
}
main + footer address > span::before {
  content: '🏠';
}
main + footer address a:first-of-type::before {
  content: '📞';
}
main + footer address a:last-of-type::before {
  content: '📧';
}
a#home {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid rgb(78, 168, 92);
  background: rgb(78, 168, 92);
  background: green;
}
a#home span {
  color: white;
  font-size: 16px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
span.spinner {
  display: block;
  content: '';
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 1);
  border-width: 2px;
  border-color: green;
  border-bottom-color: rgba(255, 255, 255, 0);
  animation: spin 1s linear infinite;
}
@media (width >= 500px) {
  body {
    padding: 28px;
  }
}
@media (width >= 900px) {
  body {
    padding: 36px;
  }
}
