extends layout
  
block page
  #me
    .section
      header
        h1: a(href='http://bizzybytes.com', rel='me') <span>Morgan</span> Ney
        img(src='http://www.gravatar.com/avatar/c6027f211114989359f1ff7e076c98be?s=175', alt='M.N.')
      address
        p 432 CR 1236 Quitman, TX 75783
        a(href='mailto:morganney@gmail.com') morganney@gmail.com
        a(href='tel:+19038782665') (903) 879&mdash;2665
    .section
      p A father, husband, and web developer originally from the San Francisco Bay Area and now residing in Texas.
      p
        | When I'm not spending time with my three daughters, or playing baseball with my two dogs, I love being outdoors
        | with my wife improving our property and making use of available resources. I'm a dreamer who hopes for 
        | <a href='https://www.thevenusproject.com/resource-based-economy/'>change</a> and am in awe of the
        | <a href='http://en.wikipedia.org/wiki/Riemann_hypothesis'>profound</a>.
      blockquote(cite='https://www.bible.com/bible/111/1CO.13.13.NIV')
        p And now these three remain: faith, hope and love. But the greatest of these is love.
        footer 1 Corinthians 13:13 <cite>NIV</cite>
  #places
    h2 Places I've Lived
    #map
block scripts
  script(src=`//maps.googleapis.com/maps/api/js?key=${googleMapsKey}`)
  script(src='public/js/index.js')
