extends layout

block page
  header#header.jumbotron
    h1.
      <img src='http://www.gravatar.com/avatar/c6027f211114989359f1ff7e076c98be?s=225' class='img-circle' alt='M.N.' />
      Hi, I'm <a href='http://bizzybytes.com'>Morgan Ney</a>
    p: a.btn.btn-primary.btn-lg(href='', data-toggle='modal', data-target='#dude') Who's That?
    #dude.modal.modal-fade
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
            h2.modal-title Me? Well, I'm ...
          .modal-body
            p.
              <span class='glyphicon glyphicon-user'></span> <span class='glyphicon glyphicon-headphones'></span>
              &nbsp; Just another random dude on the Internet ...
          .modal-footer
            button(type="button", class="btn btn-default", data-dismiss="modal") Close
  #interests.panel.panel-primary
    .panel-heading: h2.panel-title Interests
    ul.list-group
      li.list-group-item: a(href='http://www.youtube.com/watch?v=dlPs10GSJjQ') Zeitgeist / Moving Forward
      li.list-group-item: a(href='http://www.thevenusproject.com/about/resume') Jacques Fresco / The Venus Project
      li.list-group-item: a(href='http://www.amazon.com/TWA-Flight-800-Kristina-Borjesson/dp/B00FWLGTW0').
       Flight TWA 800 / WTF!?
      li.list-group-item: a(href='http://en.wikipedia.org/wiki/Riemann_hypothesis') The Riemann Hypothesis
      li.list-group-item: a(href='') Local Organic Food / Farming
      li.list-group-item: a(href='http://bizzybytes.com') Web Development
      li.list-group-item: a(href='') Mind / Body / Health
      li.list-group-item: a(href='') Nature / Outdoors
  #abominations.panel.panel-primary
    .panel-heading: h2.panel-title Abominations
    ul.list-group
      li.list-group-item: a(href='') Politics
      li.list-group-item: a(href='') Banking / Money / Federal Reserve
      li.list-group-item: a(href='') Marketing / Advertising<br />(Euphemisms for lying & deceiving)
      li.list-group-item: a(href='') Standard American Diet (S.A.D.)
      li.list-group-item: a(href='') Food Industry
      li.list-group-item.
       <a href='http://en.wikipedia.org/wiki/Two-party_system'>Two-party System</a>
       (<a href='http://www.youtube.com/watch?v=S5ZRRimf3Ps'>why do we stand for this?</a>)
  #hobbies.panel.panel-primary
    .panel-heading: h2.panel-title Hobbies
    ul.list-group
      li.list-group-item: a(href='') Building stuff
      li.list-group-item: a(href='') Writing
      li.list-group-item: a(href='') Motorcycles
      li.list-group-item: a(href='') Gardening
      li.list-group-item: a(href='') Crafts / Painting
  #places.panel.panel-primary
    .panel-heading: h2.panel-title Places I've Lived
    #map.panel-body
block scripts
  script(src='/public/js/index.js')
