extends layout

block styles
  link(rel='stylesheet', href='/public/css/motorcycles.min.css')
block page
  h1 Motorcycles
  p.
    After <strong>finally</strong> getting my class M1 license I'm never turning back to driving cars (unless
    dictated by circumstance). It's just way too easy getting around on a motorcycle compared to being stuck in
    traffic when driving cars.  Not to mention the lighter environmental footprint.
  p.
    For now I have one motorcycle, my daily commuter, but I figure I'll settle on having three at one point: My
    daily commuter, a "property" bike for regular camping trips, and a good bike to take on rides with
    <a href='/hobbies/writing#trisha'>Trisha</a>.
  #fz1
    figure
      img(src='/public/img/fz1.jpg', alt='My FZ1 Gen 1', class='img-responsive')
      figcaption: p My daily taste of freedom (FZ1 Gen 1)
