extends layout

block styles
  link(rel='stylesheet', href='/public/css/playlists.css')
block page
  h1 Playlists (TODO)
  section#eighties
    h2 Eighties
    ul
      li
        details(data-id='wJzNZ1c5C9c').
          <summary>Keep on Loving You</summary>
          
block scripts
  script(src='public/js/playlists.js')
