@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap');

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}
html {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  /* Assumes browser defaults are 'Medium' or 16px */
  font-size: 62.5%;
}
body {
  background-color: gray;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
#ie {
  padding: 15px;
  background-color: yellow;
  color: black;
  position: fixed;
  top: 65px;
  left: 50%;
  margin: 0;
  margin-left: -225px;
  width: 450px;
  text-align: center;
  z-index: 5;
  font-size: 1.2rem;
}
#shell {
  margin: 0 auto;
  font-size: 1.6rem;
  /*display: grid;*/
  padding: 0 20px 20px 20px;
}
#shell, nav#main {
  max-width: 1200px;
  background-color: white;
}
nav#main {
  width:100%;
  position: fixed;
  top: 0;
  font-size: 1.3rem;
  padding: 20px;
  margin-left: -20px;
  z-index: 2;
  box-shadow: 0 5px 5px -5px gray;
}
nav#main li {
  display: inline-block;
  margin-right: 10px;
}
nav#main li:last-child {
  margin: 0;
}
nav#main a {
  text-decoration: none;
}
nav#main a:link, nav#main a:visited {
  color: #0000EE;
}
nav#main a:hover {
  text-decoration: underline;
}
nav#main a:active {
  color: green;
}
body.home nav#main a[href='/'] {
  text-decoration: underline;
}
body.writing nav#main a[href*='writing'] {
  text-decoration: underline;
}
main {
  padding-top: 60px;
}
main p {
  line-height: 2.5rem;
}
#footer nav {
  padding: 20px 0;
}
#footer ul {
  display: flex;
  justify-content: flex-end;
}
#footer li:nth-child(2) {
  margin: 0 15px;
}
#footer li a {
  display: block;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
}
#footer li:first-child a {
  background-image: url(/public/img/octocat.png);
  width: 48px;
}
#footer li:nth-child(2) a {
  background-image: url(/public/img/linkedin.png);
  width: 47px;
}
#footer li:last-child a {
  background-image: url(/public/img/twitter.png);
  width: 40px;
}
#footer p {
  font-size: 1.1rem;
  text-align: right;
  margin: 0;
}
/* From home view */
#me {
  display: grid;
  grid-template-rows: 300px 1fr;
  grid-row-gap: 20px;
}
#me .section {
  padding:15px;
}
#me .section:first-child {
  text-align: center;
}
#me .section:nth-child(2) p {
  margin-top: 0;
}
#me header {
  position: relative;
}
#me header h1 {
  margin: 0;
}
#me address {
  font-size: 1.2rem;
}
#me address a {
  display: block;
  padding: 5px 0;
}
#me a[href^='mailto']::before {
  content: '📧 ';
}
#me a[href^='tel']::before {
  content: '📞 ';
}
#me address p {
  margin: 0;
}
#me blockquote {
  margin: 0;
  padding: 20px 10px 0 10px;
}
#me blockquote p {
  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 5px;
  margin: 0;
}
#me blockquote p::before {
  content: '\201C';
}
#me blockquote p::after {
  content: '\201D';
}
#me blockquote footer {
  text-align: right;
  margin-top: 10px;
}
#me blockquote footer::before {
  content: '\2014';
}
h1 a[rel='me'] {
  font-family: 'Monoton';
  font-size: 2.2rem;
  font-weight: 100;
}
h1 a[rel='me']:link, h1 a[rel='me']:visited, h1 a[rel='me']:hover, h1 a[rel='me']:active {
  color: #bdb76b;
}
h1 a[rel='me']:link span, h1 a[rel='me']:visited span, h1 a[rel='me']:hover span, h1 a[rel='me']:active span {
  color: green;
}
img[alt='M.N.'] {
  clip-path: circle(8rem at center);
}
#places {
  padding-top: 10px;
}
#map {
  width: 100%;
  height: 25em;
  padding: 0;
}

@media only screen and (min-width: 480px) {
  nav#main {
    font-size: 1.6rem;
  }
  nav#main li {
    margin-right: 15px;
  }
}
@media only screen and (min-width: 768px) {
  #shell, nav#main {
    width: 75%;
  }
  #me blockquote {
    margin: 0;
    padding: 20px 40px 0 40px;
  }
}
@media only screen and (min-width: 1024px) {
  #me {
    grid-template-columns: 250px 1fr;
    column-gap: 20px;
    grid-template-rows: none;
    grid-row-gap: unset;
  }
  #me .section:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
